<% include ../partials/header %>
<!-- Variabelen aanmaken voor gebruik-->
<%

    var rowAmount = 0
    var count = -1
    var total = 0.00
    var amountString = ""
    var count2 = -1
    var amountString2 = ""
    var couponStatusValue = couponStatus
    console.log("Coupon Status is " + couponStatus)
    var couponpriceModifierValue = 0
    if (couponStatus == "Yes"){
    couponpriceModifierValue = couponpriceModifier.priceModifier
    }

%>
<div class="container">

    <div class="row">
        <div class="container mx-auto">
            <h4> Afrekenen </h4>
            <a> <strong>Kijk nog even uw gegevens na: </strong></a>
            <!-- Ingelogde gebruiker zijn gegevens-->
            <address>
                Naam: <%=currentUser.name%> <%=currentUser.surname%><br />
                Email: <%=currentUser.email%><br />
                Telefoon: <%=currentUser.phonenumber%><br />
                Adres: <%=currentUser.address.street%> <%=currentUser.address.number%> <%=currentUser.address.additionals%> <br />

            </address>
            <!-- Tabel met alle producten en informatie-->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Naam</th>
                        <th scope="col">Aantal</th>
                        <th scope="col">Prijs</th>
                        <th scope="col">Subtotaal</th>
                    </tr>
                <tbody>

                    <!-- Voor elk product in de shoppingcart tel de counts op, en zet de hoeveelheden op.-->
                    <% User.shoppingcart.forEach(function(product){ %>
                    <% count = count + 1 %>
                    <% rowAmount = rowAmount +1%>
                    <% amountString =  currentUser.amount[count] %>
                    <% var productPostMath = product.price * amountString.charAt(0)


                    total = total + productPostMath %>

                    <tr>
                        <th scope="row"><%=rowAmount%></th>
                        <td><%= product.name %></td>
                        <td><%= amountString.charAt(0)%></td>
                        <td><%=product.price%></td>
                        <td><%=productPostMath.toFixed(2)%></td>
                    </tr>
                    <% }) %>
                    <!-- Als een coupon gebruikt is, verander het totaalbedrag, en laat de korting zien-->
                    <% if (couponStatus == "Yes"){ %>
                    <% var saleAmount1 = total * (1 - ("0." + couponpriceModifierValue)) %>
                    <% var saleAmount2 = total - saleAmount1 %>
                    <% total = total - saleAmount2 %>
                    <% rowAmount = rowAmount +1%>

                    <tr>
                        <th scope="row"><%=rowAmount%></th>
                        <td>Coupon korting</td>
                        <td>-<%=couponpriceModifierValue%>%</td>
                        <td></td>
                        <td>-<%=saleAmount2.toFixed(2)%></td>

                    </tr>
                    <% } %>
                    <!-- BTW en verzendkosten bijrekenen-->
                    <% var totalBTWstep1 = total * 1.06 %>
                    <% var totalBTWstep2 = totalBTWstep1 - total %>
                    <% total = total * 1.06 %>
                    <% total = total + 2.00 %>
                    <% rowAmount = rowAmount +1%>
                    <tr>
                        <th scope="row"><%=rowAmount%></th>
                        <td>Belasting</td>
                        <td>6%</td>
                        <td></td>
                        <td><%=totalBTWstep2.toFixed(2)%></td>
                    </tr>
                    <% rowAmount = rowAmount +1%>
                    <tr>
                        <th scope="row"><%=rowAmount%></th>
                        <td>Verzendkosten</td>
                        <td></td>
                        <td></td>
                        <td>2.00</td>
                    </tr>

                </tbody>



            </table>
            <h5>
                Totaal: € <%=total.toFixed(2)%>, inclusief <%= totalBTWstep2.toFixed(2) %> euro btw(6%) en € 2.00 verzendkosten.
            </h5>
            <!-- Als er geen coupon gegeven was (Net naar pagina gegaan) of een verkeerde coupon, geef een melding-->
            <% if (couponStatus == "noInsert" || couponStatus == "No"){ %>
            <% console.log(couponStatus) %>
            <% if (couponStatus == "No"){ %>
            <a> Uw gegeven couponcode was fout! Probeer opnieuw.</a>
            <% } %>
            <a> Voer hier uw coupon in:</a>
            <form class="form-inline" action="/purchase/checkCoupon" method="POST">
                <div class="form-group float-right">
                    <input type="text" name="givenCoupon" required />
                    <input type="hidden" name="user_id" value="<%=currentUser._id%>" />
                    <button name="Button" value="" class="btn btn-sm btn-primary">Invoeren</button>
                </div>
            </form>
            <% } else { %>
            <h5> Door uw code heeft u <strong><%=couponpriceModifierValue%>%</strong> korting gekregen!</h5> <br />
            <% } %>
            <a> Kies een van de onderstaande betaalservices om het betaalproces te beginnen</a>
            <br />
            <br />
            <!-- Maakt order aan. Voor elk product in winkelwagen stuurt hij de product ID op. -->
            <form class="form-inline" action="/purchase/order" method="POST">
                <div class="form-group float-right">
                    <input type="hidden" name="user_id" value="<%= currentUser._id%>" />
                    <input type="hidden" name="username" value="<%= currentUser.username %>">
                    <input type="hidden" name="email" value="<%= currentUser.email %>">
                    <input type="hidden" name="couponStatus" value="<%= couponStatus%>" />
                    <%if (couponStatus == "Yes"){%>
                    <input type="hidden" name="couponpriceModifierValue" value="<%= couponpriceModifierValue%>" />
                    <% } %>

                    <input type="hidden" name="amount" value="<%=currentUser.amount%>" />
                    <% User.shoppingcart.forEach(function(product){ %>
                    <% count2 = count2 + 1 %>
                    <% amountString2 =  currentUser.amount[count2] %>
                    <input type="hidden" name="product_id" value="<%=product._id%>">
                    
                    <input type="hidden" name="price" value="<%=total.toFixed(2)%>">
                    <input type="hidden" name="name" value="<%= amountString2.charAt(0) %> <%=product.name%>" />

                    <% }) %>
                    <button name="coupon_id" value="coupon._id" class="btn btn-sm btn-danger">Betalen</button>
                </div>
            </form>

            <br />
            <br />
            <br />




        </div>
    </div>

</div>

<% include ../partials/footer %>
