<% include ../partials/header %>

<%

    var rowAmount = 0
    var count = -1
    var total = 0.00
    var amountString = ""
    var count2 = -1
    var amountString2 = ""
%>
<div class="container">

    <div class="row">
        <div class="container mx-auto">
            <h4> Afrekenen </h4>
            <a> <strong>Kijk nog even uw gegevens na: </strong></a>
            <address>
                Naam: <%=currentUser.name%> <%=currentUser.surname%><br />
                Email: <%=currentUser.email%><br />
                Telefoon: <%=currentUser.phonenumber%><br />
                Adres: <%=currentUser.address.street%> <%=currentUser.address.number%> <%=currentUser.address.additionals%> <br />

            </address>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Naam</th>
                        <th scope="col">Aantal</th>
                        <th scope="col">Prijs</th>
                        <th scope="col">Subtotaal</th>
                    </tr>
                <tbody>


                    <% User.shoppingcart.forEach(function(product){ %>
                    <% count = count + 1 %>
                    <% rowAmount = rowAmount +1%>
                    <% amountString =  currentUser.amount[count] %>
                    <% var productPostMath = product.price * amountString.charAt(0)

                    
                    total = total + productPostMath %>
                    <tr>
                        <th scope="row"><%=rowAmount%></th>
                        <td><%= product.name %></td>
                        <td><%= amountString.charAt(0)%></td>
                        <td><%=product.price%></td>
                        <td><%=productPostMath.toFixed(2)%></td>
                    </tr>
                    <% }) %>
                    <% var totalBTWstep1 = total * 1.06 %>
                    <% var totalBTWstep2 = totalBTWstep1 - total %>
                    <% total = total * 1.06 %>
                    <% total = total + 3.50 %>
                    <% rowAmount = rowAmount +1%>
                    <tr>
                        <th scope="row"><%=rowAmount%></th>
                        <td>Belasting</td>
                        <td>6%</td>
                        <td></td>
                        <td><%=totalBTWstep2.toFixed(2)%></td>
                    </tr>
                    <% rowAmount = rowAmount +1%>
                    <tr>
                        <th scope="row"><%=rowAmount%></th>
                        <td>Verzendkosten</td>
                        <td></td>
                        <td></td>
                        <td>3.50</td>
                    </tr>
                </tbody>



            </table>
            <h5>
                Totaal: € <%=total.toFixed(2)%>, inclusief <%= totalBTWstep2.toFixed(2) %> euro btw(6%) en € 3.50 verzendkosten.
            </h5>

            <a> Kies een van de onderstaande betaalservices om het betaalproces te beginnen</a>
            <br />
            <br />
            <!-- Maakt order aan. Voor elk product in winkelwagen stuurt hij de product ID op. -->
            <form class="form-inline" action="/purchase/order" method="POST">
                <div class="form-group float-right">
                    <input type="hidden" name="user_id" value="<%= currentUser._id%>" />
                    <input type="hidden" name="username" value="<%= currentUser.username %>">

                    <input type="hidden" name="amount" value="<%=currentUser.amount%>" />
                    <% User.shoppingcart.forEach(function(product){ %>
                    <% count2 = count2 + 1 %>
                    <% amountString2 =  currentUser.amount[count2] %>
                    <input type="hidden" name="product_id" value="<%=product._id%>">
                    <input type="hidden" name="name" value="<%= amountString2.charAt(0) %> <%=product.name%>" />

                    <% }) %>
                    <button name="currentUser_id" value="<%= currentUser._id %>" class="btn btn-sm btn-danger">Betalen</button>
                </div>
            </form>

            <br />
            <br />
            <br />




        </div>
    </div>

</div>

<% include ../partials/footer %>
