<% include ../partials/header %>

<%
    var rowAmount = 0
    var count = -1
    var total = 0.00
    var amountString = ""
%>
<div class="container">

    <div class="row">
        <div class="container mx-auto">
            <h4> Afrekenen </h4>
            <a> Kijk nog even uw gegevens na: </a>
            <address>
                <%=currentUser.name%> <%=currentUser.surname%><br />
                <%=currentUser.email%><br />
                <%=currentUser.phonenumber%><br />
                <%=currentUser.address.street%> <%=currentUser.address.number%> <%=currentUser.address.additionals%> <br />

            </address>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Naam</th>
                        <th scope="col">Hoeveelheid</th>
                        <th scope="col">Prijs</th>
                        <th scope="col">Totale Prijs</th>
                    </tr>
                <tbody>


                    <% User.shoppingcart.forEach(function(product){ %>
                    <% count = count + 1 %>
                    <% rowAmount = rowAmount +1%>
                    <% amountString =  currentUser.amount[count] %>
                    <% var productPostMath = product.price * amountString.charAt(0)
                    total = total + productPostMath %>
                    <tr>
                        <th scope="row"><%=rowAmount%></th>
                        <td><%= product.name %></td>
                        <td><%= amountString.charAt(0)%></td>
                        <td><%= product.price %></td>
                        <td><%= product.price * amountString.charAt(0)%></td>
                    </tr>
                    <% }) %>


                </tbody>
               


            </table>
            <h4>
                De totale prijs is <%=total.toFixed(2)%> euro
            </h4>

            <a> Kies een van de onderstaande betaalservices om het betaalprocess te beginnen</a>
            <br />
            <br />
            <a href="/purchase/:id" class="btn btn-primary">Betaal met Paypal</a>

            <a href="/purchase/:id" class="btn btn-primary">Betaal met Ideal</a>
            <br />
            <br />
            <br />




        </div>
    </div>

</div>

<% include ../partials/footer %>
