<% include ../partials/header %>
<%
    var count = -1
    var total = 0.00
    var amountString = ""
 %>

<div class="container" style="min-height:580px;">

    <div class="row">
        <div class="container mx-auto">
            <h4> Winkelwagen </h4>
            <br />

            <a> De winkelwagen bevat alle geselecteerde items.</a>
            <br />
            <br />


            <div class="container">
                <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                    <!-- Voor alles in winkelwagen-->
                    <% User.shoppingcart.forEach(function(product){ %>
                    <%var formcount = -1%>
                    <!-- Tel de counts bij, bereken de hoeveelheid + kosten, bereken het totaal-->
                    <% count = count + 1 %>
                    <% amountString =  currentUser.amount[count] %>
                    <% var productPostMath = product.price * amountString.charAt(0)
                    total = total + productPostMath %>
                    <% priceProduct = product.price * amountString.charAt(0)%>
                    <div class="col-lg-2 col-md-4 col-sm-6 mb-2 d-block">
                        <div class="img-thumbnail">

                            <!-- Voor elk product maakt hij zo'n leuk plaatje en text aan-->
                            <a href="/<%=product.category %>/detail/<%= product._id %>"><img class="rounded img-thumbnail" src="/image/<%= product.image %>"></a>

                            <p>€ <%=product.price %></p>
                            <form action="/shoppingcart/modifyAmount?_method=PUT" method="POST">
                                <input type="number" name="amount" value="<%=amountString.charAt(0)%>" min="1" max="9" required>stuks
                                <input type="hidden" name="product_id" value="<%=product._id.toString()%>" />
                                <% User.shoppingcart.forEach(function(product){
                                formcount = formcount + 1%>
                                <input type="hidden" name="fullamount" value="<%=currentUser.amount[formcount]%>" />
                                <% }); %>
                                <input type="hidden" name="count" value="<%=count%>" />
                                <input type="hidden" name="user_id" value="<%=currentUser._id%>" />
                                <input type="hidden" name="formcount" value="<%=formcount%>" />
                            </form>
                            <p><strong>Totaal: € <%= priceProduct.toFixed(2)%></strong></p>



                            <form class="form-inline" action="/shoppingcart/delete?_method=PUT" method="POST">
                                <input type="hidden" name="user_id" value="<%= currentUser._id %>">
                                <input type="hidden" name="product_id" value="<%= product._id %>">
                                <input type="hidden" name="amountValue" value="<%=amountString.charAt(0) %>" />
                                <input type="hidden" name="amountSearch" value="<%=product._id.toString() %>" />
                                <button name="product_id" value="<%= product._id %>" class="btn btn-sm btn-danger">Verwijder</button>

                            </form>
                            </p>
                        </div>
                    </div>
                    <% }); %>
                    <!-- BTW en verzendkosten-->
                    <% var totalBTWstep1 = total * 1.06 %>
                    <% var totalBTWstep2 = totalBTWstep1 - total %>
                    <% total = total * 1.06 %>
                    <% total = total + 2.00 %>
                </div>
            </div>
            <!-- Als het leeg is, dan zeg je dat hij leeg is, anders geef je het totaalbedrag.-->
            <% if (count == -1){ %>
            <a> De winkelwagen is leeg!</a>
            <% } %>
            <% if (count > -1){ %>
            <h5>
                Totaal: € <%=total.toFixed(2)%>, inclusief <%= totalBTWstep2.toFixed(2) %> euro btw(6%) en € 2.00 verzendkosten.
            </h5>

            <a href="/purchase/<%= currentUser._id %>" class="btn btn-primary">Nu afrekenen</a>
            <% } %>
        </div>
    </div>

</div>


<% include ../partials/footer %>