<% include ../partials/header %>
<div class="container">

    <div class="row">
        <div class="container mx-auto">
            <h4> Winkelwagen </h4>
            <a> Hieronder staan de producten die zich momenteel in uw winkelmandje bevinden.</a>
            <br />
            <a> Druk op de knop 'Afrekenen' om te beginnen met te betalen</a>
			<div class="container">
                <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                    <!-- VERANDER DEZE LIJN ALS JE DINGEN IN WINKELWAGEN KAN ZETTEN -->
                    <% product.forEach(function(product){ %>
                    <!-- VERANDER DEZE LIJN ALS JE DINGEN IN WINKELWAGEN KAN ZETTEN -->
                    <div class="col-lg-2 col-md-4 col-sm-6 mb-2 d-block">
                        <div class="img-thumbnail">
                            <img class="rounded img-thumbnail" src="/image/<%= product.image %>">
                            <div class="caption">
                                <p><%= product.name %></h4>
                            </div>
                            <p><strong>€ <%=product.price %></strong></p>
                            <a> *Hoeveelheid*</a>
                            <a href="/<%=product.category %>/<%= product._id %>" class="btn btn-info">Meer info</a>
                        </div>
                    </div>
                    <% } ); %>
                </div>
			</div>
            <h3>De totale prijs is ____</h3>
            <a href="/purchase" class="btn btn-primary">Nu Afrekenen</a>

        </div>
    </div>

</div>

<% include ../partials/footer %>