<% include ../partials/header %>
<%
    var count = -1
    var total = 0.00
    var amountString = ""
 %>
    
<div class="container">

    <div class="row">
        <div class="container mx-auto">
            <h4> Winkelwagen </h4>
            <br />
            <a> Hieronder staan de producten momenteel in uw winkelwagen.</a>
            <br />
            <br />
            <a> Druk op de knop 'Afrekenen' om te beginnen met betalen</a>
            <div class="container">
                <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                    <!-- VERANDER DEZE LIJN ALS JE DINGEN IN WINKELWAGEN KAN ZETTEN -->
                    <% User.shoppingcart.forEach(function(product){ %>


                    <% count = count + 1 %>
                    <% amountString =  currentUser.amount[count] %>
                    <% var productPostMath = product.price * amountString.charAt(0)
                    total = total + productPostMath %>
                    <% priceProduct = product.price * amountString.charAt(0)%>
                    <div class="col-lg-2 col-md-4 col-sm-6 mb-2 d-block">
                        <div class="img-thumbnail">


                            <a href="/<%=product.category %>/<%= product._id %>"><img class="rounded img-thumbnail" src="/image/<%= product.image %>"></a>

                            <p>€ <%=product.price %></p>
                            <p><%= amountString.charAt(0) + " stuks" %></p>
                            <p><strong>€ <%= priceProduct.toFixed(2)%></strong></p>



                            <form class="form-inline" action="/shoppingcart/delete?_method=PUT" method="POST">
                                <input type="hidden" name="user_id" value="<%= currentUser._id %>">
                                <input type="hidden" name="product_id" value="<%= product._id %>">
                                <input type="hidden" name="amountValue" value="<%=amountString.charAt(0) %>" />
                                <input type="hidden" name="amountSearch" value="<%=product._id.toString() %>" />
                                <button name="product_id" value="<%= product._id %>" class="btn btn-sm btn-danger">Verwijder</button>

                            </form>
                            </p>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
            <h3>
                De totale prijs is € <%=total.toFixed(2)%>
            </h3>
            <% if (count > -1){ %>
            <a href="/purchase/<%= currentUser._id %>" class="btn btn-primary">Nu afrekenen</a>
            <% } %>
        </div>
    </div>

</div>


<% include ../partials/footer %>