<% include ../partials/header %>

<%
    var rowAmount = 0
    var count = -1
    var total = 0.00
    var amountString = ""
%>
<div class="container">
    <!-- Werkt hetzelfde als de purchase pagina. grotendeels.-->
    <div class="row">
        <div class="container mx-auto">
            <h4> Bedankt en tot ziens! </h4>
            <a> Bestellingsgegevens: </a>
            <address>
                Naam: <%=currentUser.name%> <%=currentUser.surname%><br />
                Email: <%=currentUser.email%><br />
                Telefoon: <%=currentUser.phonenumber%><br />
                Adres: <%=currentUser.address.street%> <%=currentUser.address.number%> <%=currentUser.address.additionals%> <br />

            </address>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Naam</th>
                        <th scope="col">Aantal</th>
                        <th scope="col">Prijs</th>
                        <th scope="col">Subtotaal</th>
                    </tr>
                <tbody>


                    <% User.shoppingcart.forEach(function(product){ %>
                    <% count = count + 1 %>
                    <% rowAmount = rowAmount +1%>
                    <% amountString =  currentUser.amount[count] %>
                    <% var productPostMath = product.price * amountString.charAt(0)
                    total = total + productPostMath %>
                    <tr>
                        <th scope="row"><%=rowAmount%></th>
                        <td><%= product.name %></td>
                        <td><%= amountString.charAt(0)%></td>
                        <td><%= product.price %></td>
                        <td><%= productPostMath.toFixed(2)%></td>
                    </tr>
                    <% }) %>

                    <% if (couponStatus == "Yes"){ %>
                    <% var saleAmount1 = total * (1 - ("0." + couponpriceModifierValue)) %>
                    <% var saleAmount2 = total - saleAmount1 %>
                    <% total = total - saleAmount2 %>
                    <% rowAmount = rowAmount +1%>

                    <tr>
                        <th scope="row"><%=rowAmount%></th>
                        <td>Coupon korting</td>
                        <td>-<%=couponpriceModifierValue%>%</td>
                        <td></td>
                        <td>-<%=saleAmount2.toFixed(2)%></td>

                    </tr>
                    <% } %>
                    <% var totalBTWstep1 = total * 1.06 %>
                    <% var totalBTWstep2 = totalBTWstep1 - total %>
                    <% total = total * 1.06 %>
                    <% total = total + 2.00 %>
                    <% rowAmount = rowAmount +1%>
                    <tr>
                        <th scope="row"><%=rowAmount%></th>
                        <td>Belasting</td>
                        <td>6%</td>
                        <td></td>
                        <td><%=totalBTWstep2.toFixed(2)%></td>
                    </tr>
                    <% rowAmount = rowAmount +1%>
                    <tr>
                        <th scope="row"><%=rowAmount%></th>
                        <td>Verzendkosten</td>
                        <td></td>
                        <td></td>
                        <td>2.00</td>

                </tbody>



            </table>
            <h4>

            </h4>

            




        </div>
    </div>

</div>

<% include ../partials/footer %>
