<% include ./partials/header %>
<% var count = 0 %>

<!--De wow mid factor  -->
<div class="full-width">
    <div id="imagecase" style="height:440px;">
        <section id="showcase">
            <h1> Voor de beste kwaliteit!</h1>
            <p> Gewoon bij HotBuns </p>
        </section>
    </div>
</div>
<!-- Midden ding-->
<!-- <section id="newsletter">
    <div class="container">
        <center>
            <h1> De beste kwaliteit voor de laagste prijs!</h1>
        </center>
        <form> -->
            <!-- <input type="email" placeholder="Vul uw e mailadres in">
            <button type="submit" class="button_1">Versturen</button>
        </form>
    </div>
</section> -->

<!-- Tekst onder Foto -->
<div class = "container">
    <div class="row mt-3">

        <div class = "col-md">
            <div class = "card">
                <div class = "container">
                    <center>
                        <h1> De beste kwaliteit voor de laagste prijs!</h1>
                    </center>
                    <br>
                    <br>
                    <h5>
                    <p>Hier bij HotBuns garanderen wij u van de meest kwalitatieve en smaakvolle broden, koeken en zoetigheid.</p>
                    <p>Bij ons bent u nooit alleen. Wij helpen u graag met het kiezen van het perfecte brood.</p>
                        <p>Onze website is volledig uitgerust om al uw bestellingen online af te handelen, zonder dat u de deur ook maar uit hoeft. Daarnaast
                            worden alle bestelde producten persoonlijk bij u bezorgd.
                        </p>
                        <p>Namens ons hele team wensen wij u veel winkelplezier!</p>
                    </h5>                        
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
 <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% product.forEach(function(product){ %>
            <% count = count + 1 %>
			<% if (count <= 4){ %>
				<div class="col-lg-3 col-md-4 col-sm-6 mb-2 d-block">
					<div class="img-carrousel">
						<a href="/<%=product.category %>/<%= product._id %>"> 
							<img class="rounded img-thumbnail" src="/image/<%= product.image %>"> </a>
                        
					   <div class="caption">
						   <p><%= product.name %></h4>
					   </div>
					  <p><strong>€ <%=product.price %></strong></p>
					   <p>
						   <a href="/<%=product.category %>/detail/<%= product._id %>" class="btn btn-info">Meer info</a>
					   </p>
					</div>
				</div>
			<% } %>
        <% } ); %>
        <% if(count == 0){%>
        <h3> Er zijn geen producten gevonden!</h3>
        <% } %>
    </div>
</div>


<% include ./partials/footer %>

