<% include ./partials/header %>

<%
    var rowAmount = 0
    var count = -1
    var total = 0.00
    var amountString = ""
    var count2 = -1
    var amountString2 = ""
    var productIdArray =[]
%>
<div class="container">
    <!-- Werkt hetzelfde als de purchase pagina. grotendeels.-->
    <div class="row">
        <div class="container mx-auto">
            <h3> Order: <%= Order._id %> </h3>
            <%var day = Order.date.getDate() %>
            <%var month = Order.date.getMonth()+1 %>
            <%var year = Order.date.getFullYear() %>
            <% var dayMonthYear = day + "-" + month + "-" + year %>
            Datum: <%= dayMonthYear %> <br/>
            Status: <%= Order.status %><br/> <br/>
            <a> Bestellingsgegevens: </a>
            <address>
                <% if(Order.userId.naamToevoeging.length > 0){ %>
                    Naam: <%=Order.userId.name%> <%= Order.userId.naamToevoeging%> <%=Order.userId.surname%><br />
                <% } else{ %>
                    Naam: <%=Order.userId.name%> <%= Order.userId.naamToevoeging%>    
                <% } %>
                Email: <%=Order.userId.email%><br />
                Telefoon: <%=Order.userId.phonenumber%><br />
                Adres: <%=Order.userId.address.street%> <%=Order.userId.address.number%> <%=Order.userId.address.additionals%> <br />

            </address>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Naam</th>
                        <th scope="col">Aantal</th>
                        <th scope="col">Prijs</th>
                        <th scope="col">Subtotaal</th>
                    </tr>
                <tbody>


                    <% Order.orderedProducts.forEach(function(product){ %>
                    <% count = count + 1 %>
                    <% rowAmount = rowAmount +1%>
                    <% amountString =  amount[count].charAt(0) %>
                    <% var productPostMath = product.price * amountString

                    total = total + productPostMath %>
                    <tr>
                        <th scope="row"><%=rowAmount%></th>
                        <td><%= product.name %></td>
                        <td><%= amountString%></td>
                        <td><%= product.price %></td>
                        <td><%= productPostMath.toFixed(2)%></td>
                    </tr>
                    <% }) %>

                    <% if (Order.couponStatus == "Yes"){ %>
                    <% var saleAmount1 = total * (1 - ("0." + Order.couponpriceModifier)) %>
                    <% var saleAmount2 = total - saleAmount1 %>
                    <% total = total - saleAmount2 %>
                    <% rowAmount = rowAmount +1%>

                    <tr>
                        <th scope="row"><%=rowAmount%></th>
                        <td>Coupon korting</td>
                        <td>-<%=Order.couponpriceModifier%>%</td>
                        <td></td>
                        <td>-<%=saleAmount2.toFixed(2)%></td>

                    </tr>
                    <% } %>
                    <% var totalBTWstep1 = total * 1.06 %>
                    <% var totalBTWstep2 = totalBTWstep1 - total %>
                    <% total = total * 1.06 %>
                    <% total = total + 2.00 %>
                    <% rowAmount = rowAmount +1%>
                    <tr>
                        <th scope="row"><%=rowAmount%></th>
                        <td>Belasting</td>
                        <td>6%</td>
                        <td></td>
                        <td><%=totalBTWstep2.toFixed(2)%></td>
                    </tr>
                    <% rowAmount = rowAmount +1%>
                    <tr>
                        <th scope="row"><%=rowAmount%></th>
                        <td>Verzendkosten</td>
                        <td></td>
                        <td></td>
                        <td>2.00</td>

                </tbody>


            </table>

            <h5>
            Totaal: € <%=total.toFixed(2)%>, inclusief <%= totalBTWstep2.toFixed(2) %> euro btw(6%) en € 2.00 verzendkosten.
            </h5>

            <% if(Order.status == "In afwachting van betaling") { %>
                <div class="col-3"> 
                    <form class="form-inline" action="/order/betaling" method="POST">
                        <input type="hidden" name="user_id" value="<%= currentUser._id%>" />

                        <input type="hidden" name="username" value="<%= Order.userId.username %>">

                        <input type="hidden" name="email" value="<%= Order.userId.email %>">
                        <input type="hidden" name="couponStatus" value="<%= Order.couponStatus %>">
                        <%if (Order.couponStatus == "Yes"){%>
                        <input type="hidden" name="couponpriceModifierValue" value="<%= Order.couponpriceModifierValue%>" />
                        <% } %>
    

                        <input type="hidden" name="amount" value="<%= amount %>">
                        
                        <input type="hidden" name="product_id" value="<%= Order.orderedProducts %>">

                        <input type="hidden" name="name" value="<%= Order.orderedProductsName %>">

                        <% Order.orderedProducts.forEach(function(product){ %>
                        <% count2 = count2 + 1 %>
                        <% amountString2 =  amount[count2] %>
                        <% productIdArray.push(product._id) %>
                        <input type="hidden" name="name" value="<%= amountString2.charAt(0) %> <%=product.name%>" />

                        <% }) %>

                        <input type="hidden" name="product_id" 
                        value="<%=productIdArray%>">
                        <% console.log(productIdArray) %>

                        <input type="hidden" name="price" value="<%= Order.price.split(',')[0] %>">
                        <input type="hidden" name="status" value="<%= Order.status %>">
                        <input type="hidden" name="orderId" value="<%= Order._id %>">
                        <button name="product_id" class="btn btn-sm btn-block btn-danger" style="white-space:normal" >Order betalen</button>
                    </form>
                </div>

                <div class="col-3"> 
                    <form class="form-inline" action="/order/<%= Order._id %>/annuleren" method="POST">
                        <input type="hidden" name="orderId" value="<%= Order._id %>">
                        <button name="product_id" class="btn btn-sm btn-block btn-danger" style="white-space:normal" >Order annuleren</button>
                    </form>
                </div>

            <% } if (Order.status == "Betaald"){ %>
                <div class="col-3"> 
                    <form class="form-inline" action="/gebruiker/:id/order/:id" method="POST">
                        <input type="hidden" name="email" value="<%= Order.userId.email %>">
                        <input type="hidden" name="name" value="<%= Order.userId.name %>">
                        <input type="hidden" name="additional" value="<%= Order.userId.naamToevoeging %>">
                        <input type="hidden" name="surname" value="<%= Order.userId.surname %>">
                        <input type="hidden" name="orderId" value="<%= Order._id %>">
                        <input type="hidden" name="orderedProducts" value="<%= Order.orderedProducts %>">
                        <input type="hidden" name="amount" value="<%= amount %>">
                        <input type="hidden" name="date" value="<%= dayMonthYear %>">

                    <button name="product_id" class="btn btn-sm btn-block btn-danger" style="white-space:normal" >Email bevestiging versturen </button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>

</div>

<% include ./partials/footer %>
