<% include ../partials/header %>
<% var rowAmountOrder = 0 %>
<div class="container mt-4 mb-4">
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Mijn profiel</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">Mijn Bestellingen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">Mijn favorietenlijst</a>
    </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- gebruikergegevens-->
        <div class="tab-pane container active" id="home">

            <strong>Gebruikersnaam:</strong>    <%= currentUser.username%>             <br />
            <strong>Voornaam:</strong>          <%= currentUser.name%>                 <br />
            <strong>Tussenvoegsel:</strong>        <%= currentUser.naamToevoeging%>       <br />
            <strong>Achternaam:</strong>        <%= currentUser.surname%>              <br />
            <strong>Email:</strong>             <%= currentUser.email%>                <br />
            <strong>Telefoonnummer:</strong>    <%= currentUser.phonenumber%>          <br />
            <strong>Adres:</strong>            <%= currentUser.address.street%> <%= currentUser.address.number%> <%= currentUser.address.additional %>                <br />
            <strong>Stad:</strong>              <%= currentUser.address.city%>         <br />
            <strong>Postcode:</strong>          <%= currentUser.address.zipcode%>      <br />
            <form  action="/user/modifyUser?_method=PUT" method="POST">
                <div class="form-group float-left">
                <input type="hidden" name="user_id" value="<%= currentUser._id %>">
                <button name="user_id" value="<%= currentUser._id %>" class="btn btn-sm btn-secondary">Bewerk</button>
                </div>
            </form>
        </div>

        <!-- Bestellingen-->
        <div class="tab-pane container fade" id="menu1">
            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col-2">Ordernummer</th>
                            <th scope="col-4">Producten</th>
                            <th scope="col-2">Status</th>
                            <th scope="col-3">  Datum  </th>
                            <th scope="col-1"></th>
                        </tr>
                    <tbody>

                        <!-- Voor elke bestelling zet je iets in de tabel-->
                        <% Order.forEach(function(order){ %>
                        <% rowAmountOrder = rowAmountOrder + 1%>
                        <tr>
                            <th scope="row"> <%= order._id %></th>
                            <td><%= order.orderedProductsName%></td>
                            <td><%= order.status%></td>
                            <td>
                                <%var day = order.date.getDate() %>
                                <%var month = order.date.getMonth()+1 %>
                                <%var year = order.date.getFullYear() %>
                                <%= day + "-" + month + "-" + year %>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-white-text nav-bg"  data-toggle="tooltip" data-placement="top" title="Order bekijken"href="/gebruiker/<%= currentUser._id%>/order/<%= order._id %>"> <i class="fas fa-search"></i></a>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- favorite list overview -->
        <div class="tab-pane container fade" id="menu2">
            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <% User.favorite.forEach(function(product){ %>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-block">
                    <div class="img-thumbnail">
                        <img class="rounded img-thumbnail" src="/image/<%= product.image %>">
                        <div class="caption">
                            <p><%= product.name %></h4>
                        </div>
                        <p><strong>€ <%=product.price %></strong></p>
                        <p>
                            <a href="/<%=product.category %>/<%= product._id %>" class="btn btn-info">Meer info</a>
                        </p>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
        <!-- end of favorite list overview -->








    </div>
</div>
<% include ../partials/footer %>
