<% include ../partials/header %>

<div class="container mt-4 mb-4">
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Mijn profiel</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">Mijn Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">Mijn favorietenlijst</a>
    </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="home">...</div>
        <div class="tab-pane container fade" id="menu1">...</div>
        
        <!-- favorite list overview --> 
        <div class="tab-pane container fade" id="menu2">
            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <% User.favorite.forEach(function(product){ %>    
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-block">
                        <div class="img-thumbnail">
                            <img class="rounded img-thumbnail" src="/image/<%= product.image %>">
                            <div class="caption">
                                <p><%= product.name %></h4>
                            </div>
                            <p><strong>€ <%=product.price %></strong></p>
                            <p>
                                <a href="/<%=product.category %>/<%= product._id %>" class="btn btn-info">Meer info</a>
                            </p>
                        </div>
                    </div>               
                <% }); %>
            </div>
        </div>
        <!-- end of favorite list overview -->








    </div>
</div>
<% include ../partials/footer %>
