<% include ../partials/header %>
<% var count = 0 %>


<div class="bg-light filter-bar">
    <div class="container mx-auto">

        <div>
            <h4 class="text-center">Filter</h4>
        </div>
        <form action="/brood/filter/1" method="POST">
            <div class="row">

                <div class="col">

                    <a>Broodsoort</a>
                    <br />
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="broodsoort" value="all" checked> Geen voorkeur
                    </label> <!-- form-check.// -->
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="broodsoort" value="wit"> Wit
                    </label> <!-- form-check.// -->
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="broodsoort" value="bruin"> Bruin
                    </label>  <!-- form-check.// -->
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="broodsoort" value="volk"> Volkoren
                    </label>  <!-- form-check.// -->
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="broodsoort" value="mais"> Maïs
                    </label>  <!-- form-check.// -->
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="broodsoort" value="spelt" /> Spelt 
                    </label>  <!-- form-check.// -->
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="broodsoort" value="mg"> Meergranen
                    </label>  <!-- form-check.// -->
                </div>
                <div class="col">
                    <a>Zaden</a>
                    <br />
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="zadenoptie" value="allz" checked > Geen voorkeur
                    </label>  <!-- form-check.// -->
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="zadenoptie" value="mz"> Met zaden
                    </label>  <!-- form-check.// -->
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="zadenoptie" value="zz"> Zonder zaden
                    </label>  <!-- form-check.// -->
                </div>
                <div class="col">
                    <a>Korst</a>
                    <br />
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="korstoptie" value="allk" checked > Geen voorkeur
                    </label>  <!-- form-check.// -->
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="korstoptie" value="hk"> Harde korst
                    </label>  <!-- form-check.// -->
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="korstoptie" value="zk"> Zachte korst
                    </label>  <!-- form-check.// -->
                    <label class="form-check-label col-md">

                    </label>  <!-- form-check.// -->
                </div>
                <div class="col">
                    <a>Overige opties</a>
                    <br />
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="overigeoptie" value="allo" checked> Geen voorkeur
                    </label>  <!-- form-check.// -->
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="overigeoptie" value="karm"> Koolhydraatarm
                    </label>  <!-- form-check.// -->
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="overigeoptie" value="za"> Zoutarm
                    </label>  <!-- form-check.// -->
                    <br />
                    <br />
                    <button class="btn btn-sm btn-dark">Filter</button>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="container">
 <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% product.forEach(function(product){ %>
            <% count = count + 1 %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-2 d-block">
                <div class="img-thumbnail">
                    <a href="/<%=product.category %>/detail/<%= product._id %>"> 
                        <img class="rounded img-thumbnail" src="/image/<%= product.image %>"> </a>
                        
                   <div class="caption">
                       <p><%= product.name %></h4>
                   </div>
                  <p><strong>€ <%=product.price %></strong></p>
                   <p>
                       <a href="/<%=product.category %>/detail/<%= product._id %>" class="btn btn-info">Meer info</a>
                   </p>
                </div>
            </div>
        <% } ); %>
        <% if(count == 0){%>
        <h3> Er zijn geen producten gevonden!</h3>
        <% } %>
    </div>
    <% if(product.length >= 24 || pages > 1){ %>
        <div class="text-center container">
            <% if (pages > 0){ %>
                <ul class="pagination justify-content-center" style="margin:20px 0">
                    <% if (current == 1){ %>
                        <li class="page-item disabled"><a class="page-link">Eerste</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/brood/filter/1">Eerste</a></li>
                    <% } %>
                    <% var i = (Number(current) > 4 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4 ) && i <= pages; i++){ %>
                        <% if (i == current) { %>
                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/brood/filter/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="page-item disabled"><a class="page-link">Laatste</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/brood/filter/<%= pages %>">Laatste</a></li>
                    <% } %>
                </ul>
            <% } %>    
        </div>
    <% } %>
</div>
    
    <% include ../partials/footer %>