<% include ../partials/header %>
<% var count = 0 %>

<div class="bg-light filter-bar">
    <div class="container mx-auto">

        <div>
            <h4 class="text-center">Filter</h4>
        </div>
        <form action="/koek/filter/1" method="POST">
            <div class="row">

                <div class="col">

                    <a>Soort koek</a>
                    <br />
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="koeksoort" value="all" checked> Geen voorkeur
                    </label> <!-- form-check.// -->
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="koeksoort" value="choco"> Chocolade
                    </label> <!-- form-check.// -->
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="koeksoort" value="tarwe"> Granen
                    </label>  <!-- form-check.// -->
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="koeksoort" value="car"> Karamel
                    </label>  <!-- form-check.// -->
                    <label class="form-check-label col-md">
                        <input class="form-check-input" type="radio" name="koeksoort" value="fruit"> Fruit
                    </label>  <!-- form-check.// -->
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <button class="btn btn-sm btn-dark">Filter</button>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="container">
 <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% product.forEach(function(product){ %>
            <% count = count + 1 %>
            <div class="col-lg-2 mb-1 d-block">
                <div class="img-thumbnail" style="height:275px;">
                    <a href="/<%=product.category %>/detail/<%= product._id %>""> 
                        <img class="rounded img-thumbnail" src="/image/<%= product.image %>"> </a>
                        
                   <div class="caption">
                       <a class="links" href="/<%=product.category %>/detail/<%= product._id %>"><%= product.name %></a>
                   </div>
                  <p><strong>€ <%=product.price %></strong></p>
                </div>
            </div>
        <% } ); %>
        <% if(count == 0){%>
        <h3> Er zijn geen producten gevonden!</h3>
        <% } %>
    </div>
    <div class="text-center container">
            <% if (product.length >= 24 || pages > 1){ %>
                <ul class="pagination justify-content-center" style="margin:20px 0">
                    <% if (current == 1){ %>
                        <li class="page-item disabled"><a class="page-link">Eerste</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/koek/filter/1">Eerste</a></li>
                    <% } %>
                    <% var i = (Number(current) > 4 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4 ) && i <= pages; i++){ %>
                        <% if (i == current) { %>
                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/koek/filter/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="page-item disabled"><a class="page-link">Laatste</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/koek/filter/<%= pages %>">Laatste</a></li>
                    <% } %>
                </ul>
            <% } %>    
        </div>
</div>
    
    <% include ../partials/footer %>