<% include ../partials/header %>
<% var count = 0 %>




<div class="container" style="min-height:480px;">
 <div class="row text-center" style="display:flex; flex-wrap: wrap; ">
        <% product.forEach(function(product){ %>
            <% count = count + 1 %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-2 d-block">
                <div class="img-thumbnail">
                    <a href="/<%=product.category %>/<%= product._id %>"> 
                        <img class="rounded img-thumbnail" src="/image/<%= product.image %>"> </a>
                        
                   <div class="caption">
                       <a class="links" href="/<%=product.category %>/detail/<%= product._id %>"><%= product.name %></a>
                   </div>
                  <p><strong>€ <%=product.price %></strong></p>
                </div>
            </div>
        <% } ); %>
        
    </div>
    <% if(count == 0){%>
        <div class="jumbotron">
            <h3> Er zijn geen producten gevonden!</h3>
        </div>
    <% } %>
    <% if(product.length >= 24 || pages > 1){ %>
        <div class="text-center container">
            <% if (pages > 0){ %>
                <ul class="pagination justify-content-center" style="margin:20px 0">
                    <% if (current == 1){ %>
                        <li class="page-item disabled"><a class="page-link">Eerste</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/product/search/1">Eerste</a></li>
                    <% } %>
                    <% var i = (Number(current) > 4 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4 ) && i <= pages; i++){ %>
                        <% if (i == current) { %>
                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/product/search/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="page-item disabled"><a class="page-link">Laatste</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/product/search/<%= pages %>">Laatste</a></li>
                    <% } %>
                </ul>
            <% } %>    
        </div>
    <% } %>
</div>
    
    <% include ../partials/footer %>