<% include ../partials/header %>
<% var count = 0 %>




<div class="container">
 <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% product.forEach(function(product){ %>
            <% count = count + 1 %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-2 d-block">
                <div class="img-thumbnail">
                    <a href="/<%=product.category %>/<%= product._id %>"> 
                        <img class="rounded img-thumbnail" src="/image/<%= product.image %>"> </a>
                        
                   <div class="caption">
                       <p><%= product.name %></h4>
                   </div>
                  <p><strong>€ <%=product.price %></strong></p>
                   <p>
                       <a href="/<%=product.category %>/detail/<%= product._id %>" class="btn btn-info">Meer info</a>
                   </p>
                </div>
            </div>
        <% } ); %>
        <% if(count == 0){%>
        <h3> Er zijn geen producten gevonden!</h3>
        <% } %>
    </div>

</div>
    
    <% include ../partials/footer %>