<% include ../partials/header %>
<% var rowAmountStats = 0%>

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col">
            <form action="/stats/filter" method="POST">
                <div class="row">

                    <div class="col">
                        <label class="form-check-label col-md">
                            <input type="hidden" name="Option" value="All">
                            <input type="hidden" name="Category" value="">
                        </label>  <!-- form-check.// -->
                        <button class="btn btn-sm btn-dark">Alle producten</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <form action="/stats/filter" method="POST">
                <div class="row">

                    <div class="col">
                        <label class="form-check-label col-md">
                            <input type="hidden" name="Option" value="Brood">
                            <input type="hidden" name="Category" value="brood">
                        </label>  <!-- form-check.// -->
                        <button class="btn btn-sm btn-dark">Broden</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <form action="/stats/filter" method="POST">
                <div class="row">

                    <div class="col">
                        <label class="form-check-label col-md">
                            <input type="hidden" name="Option" value="Koek">
                            <input type="hidden" name="Category" value="koek">
                        </label>  <!-- form-check.// -->
                        <button class="btn btn-sm btn-dark">Koeken</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <form action="/stats/filter" method="POST">
                <div class="row">

                    <div class="col">
                        <label class="form-check-label col-md">
                            <input type="hidden" name="Option" value="Zoetigheid">
                            <input type="hidden" name="Category" value="zoetigheid">
                        </label>  <!-- form-check.// -->
                        <button class="btn btn-sm btn-dark">Zoetigheden</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="/stats/filter" method="POST">
                <div class="row">

                    <div class="col">
                        <label class="form-check-label col-md">

                            <input type="hidden" name="Category" value="<%=currentCategory%>">
                            <input type="hidden" name="Filter" value="0">
                        </label>  <!-- form-check.// -->
                        <button class="btn btn-sm btn-dark">Niks van verkocht</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <form action="/stats/filter" method="POST">
                <div class="row">

                    <div class="col">
                        <label class="form-check-label col-md">

                            <input type="hidden" name="Category" value="<%=currentCategory%>">
                            <input type="hidden" name="Filter" value="1+">
                        </label>  <!-- form-check.// -->
                        <button class="btn btn-sm btn-dark">1 of meer verkocht</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <form action="/stats/filter" method="POST">
                <div class="row">

                    <div class="col">
                        <label class="form-check-label col-md">

                            <input type="hidden" name="Category" value="<%=currentCategory%>">
                            <input type="hidden" name="Filter" value="50+">
                        </label>  <!-- form-check.// -->
                        <button class="btn btn-sm btn-dark">50 of meer verkocht</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <form action="/stats/filter" method="POST">
                <div class="row">

                    <div class="col">
                        <label class="form-check-label col-md">

                            <input type="hidden" name="Category" value="<%=currentCategory%>">
                            <input type="hidden" name="Filter" value="100+">
                        </label>  <!-- form-check.// -->
                        <button class="btn btn-sm btn-dark">100 of meer verkocht</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
        <!-- Statistieken-->
        
            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Naam</th>
                            <th scope="col">Gekocht</th>
                            <th scope="col">Naar bestellingen</th>
                            <th scope="col">Reset statistiek?</th>
                        </tr>
                    <tbody>

                        <% result.forEach(function(product){ %>
                        <% rowAmountStats = rowAmountStats + 1%>

                        <tr>
                            <th scope="row"><%=rowAmountStats%></th>
                            <td><%= product.name%></td>
                            <td><%= product.amountbought %></td>
                            <td>
                                <form class="form-inline" action="/stats/orderFind" method="POST">
                                    <input type="hidden" name="productName" value="<%= product.name%>">
                                    <button name="Goto" class="btn btn-sm btn-Primary">Naar bestellingen </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/stats/resetProduct?_method=PUT" method="POST">
                                    <input type="hidden" name="product_id" value="<%= product._id %>">
                                    <button name="Reset"  class="btn btn-sm btn-danger">Reset </button>

                                </form>
                            </td>
                        </tr>

                        <% }) %>
                    </tbody>



                </table>

            </div>



<% include ../partials/footer %>