<% include ../partials/header %>
<% var historyCount = 0 %>



<% ticket.history.forEach(function(trial)
{
historyCount = historyCount + 1;
console.log(historyCount)
});
%>


<div class="container " style="min-height:548px;">
    <!-- Werkt hetzelfde als de purchase pagina. grotendeels.-->      
        <div class="container mx-auto">
            <div class="row">
                    <div class="col-3">
                        <% if(ticket.status == "Open"){ %>
                            <% if ( currentUser.role == "User"){ %>
                                <form action="/helpdesk/closeTicket/<%=ticket._id%>" method="Post">
                                    <button name="Goto" value="" class="btn btn-sm btn-danger">Sluit ticket</button>
                                </form>
                            <% } if (currentUser.role == "Admin"){%>
                                <form action="/help/admin/<%=ticket._id%>" method="Post">
                                    <button name="Goto" value="" class="btn btn-sm btn-danger">Sluit ticket</button>
                                </form>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="col-12"> 
                        <h3> Ticket: <%= ticket._id %> </h3>
                        <%var day = ticket.date.getDate() %>
                        <%var month = ticket.date.getMonth()+1 %>
                        <%var year = ticket.date.getFullYear() %>
                        <% var dayMonthYear = day + "-" + month + "-" + year %>
                        Datum: <%= dayMonthYear %> <br />
                        Status: <strong> <%= ticket.status %> </strong> <br />
                        <% if(currentUser.role == "Admin"){ %>
                        <strong>U REAGEERT ALS EEN ADMIN</strong><br /> <br />
                        <% } %>
                        <a> Ticket gegevens: </a>
                        <address>
                            Naam: <%=ticket.name%><br />
                            Email: <%=ticket.email%><br />
                        </address>
                            <% if(ticket.status == "Open"){ %>
                                <form class="form-group float-left" action="/helpdesk/updateTicket" method="POST" id="helpForm">
                                    <input type="hidden" name="name" value="<%= currentUser.username %>" />
                                    <input type="hidden" name="ticketId" value="<%= ticket._id %>" />
                                    <input type="hidden" name="email" value="<%= currentUser.email%>" />
                                    <% if(currentUser.role == "Admin"){ %>
                                    <input type="hidden" name="admin" value="yes" />
                                    <% }else{ %>
                                    <input type="hidden" name="admin" value="no" />
                                    <% } %>
                                        <textarea rows="9" cols="70" name="content" placeholder="Bericht" required form="helpForm"></textarea>
                                    <div class="col-3">
                                        <button name="Goto" value="" class="btn btn-sm btn-primary float-right">Verzend</button>
                                    </div>
                                </form>
                            <% }%>
                        </div>
                </div> 
                    <br />
                    <div class=" container">
                        <p> <strong>Oude berichten:</strong> </p>

                        <textarea readonly rows="5" cols="70" name="content"><%=ticket.content%></textarea>
                        <br />
                        <br />
                        <% ticket.history.forEach(function(trial)
                        {
                        historyCount = historyCount - 1;
                        %>
                        <textarea readonly rows="5" cols="70" name="content"><%=ticket.history[historyCount]%></textarea>
                        <br />
                        <br />
                        <%});%>
                    </div>
        </div>

</div>
<% include ../partials/footer %>
